body {
  padding-top: 70px;
}

#image-div {
  border: 3px solid #101010;
  width: 65%;
  height: 600px;
  float: left;
  margin-bottom: 20px;
}

#command-div {
  border: 3px solid #101010;
  width: 30%;
  height: 600px;
  float: right;
  overflow: hidden;
}

#music-div {
  border: 3px solid #101010;
  height: 250px;
  clear: both;
}

#previous-commands {
  border: 3px solid #101010;
  height: 425px;
  margin: 20px;
  overflow: scroll;
}

#available-commands {
  height: 500px;
  overflow: scroll;
}

#available-commands h4 {
  text-align: left;
  margin-left: 25px;
}

#image-div, #command-div, #music-div {
  padding: 10px 10px;
  text-align: center;
}

#list-group-item {
  right: 10px;
}

#arrow-commands {
  text-align: center;
  width: 120px;
  margin: 0 auto;
  padding-bottom: 30px;
}

#music-dropdown {
  /*text-align: center;*/
  margin-left: 400px;
}

#bootstrap-player {
  float: none;
  margin: 0 auto;
}

#useless1, #player_control_container {
  margin-left: 0px;
}