<launch>
  <node name="recognizer" pkg="pocketsphinx" type="recognizer.py">
    <param name="lm" value="$(find dream_machine)/voice/commands.lm"/>
    <param name="dict" value="$(find dream_machine)/voice/commands.dic"/>
  </node>

  <node name="voice_handler" type="voice_handler.py" pkg="dream_machine">
  	<remap from="cmd_vel" to="mobile_base/commands/velocity"/>
  </node>

  <node name="web_server" type="web_server.py" pkg="dream_machine"/>
</launch>
